.item-container {
    padding: 5px 20px 5px 20px;
}

.heading {
    border-bottom: 1px solid #DEDEDE;
}

.info {
    border-bottom: 2px solid #DEDEDE;
    display: flex;
}

.right {
    height: 300px;
    width: 300px;
}

.left {
    z-index: 20;
}

.right img {
    height: 200px;
    width: 260px;
    position: absolute;
    object-fit: contain;
    top: 168px;
    right: 0;
}

.app-img-cont {
    display: flex;
    justify-content: space-evenly;
}

.app-img-cont div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.title {
    display: flex;
    align-items: center;
}

table {
    width: 100%;
}

.desc {
    color: #989898;
    font-size: 13px;
}